html {
 font-family:
   'Montserrat',
   'Helvetica Neue',
   Arial,
   sans-serif;
 background: #ffffff;
 word-spacing: 1px;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
 -moz-osx-font-smoothing: grayscale;
 -webkit-font-smoothing: antialiased;
 box-sizing: border-box;
}

*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
}

.content-wrapper {
 padding-top: 70px;
}

@media (min-width: 768px) {
 .container-md {
  max-width: 768px
 }
}
